@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";

#photocard {
    gap: 60px;
    width: 1148px;
    height: 3249px;
    padding: 180px 120px 240px 120px;
    flex-flow: column;
}

.photopart{
    width: 908px; 
    height: 903px;
    object-fit: cover;
    border-radius: 32px;
}

